@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-background: #fff9e3;
    --color-foreground: #081126;
    --color-card: #fff8e7;
    --color-muted: #f6eecf;
    --color-muted-foreground: rgba(0, 0, 0, 0.6);
    --color-primary: #081126;
    --color-accent: #ea7a53;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-success: #16a34a;
    --color-destructive: #dc2626;
    --color-subscription: #8fd1bd;

    --font-sans: sans-regular;
    --font-sans-light: sans-light;
    --font-sans-medium: sans-medium;
    --font-sans-semibold: sans-semibold;
    --font-sans-bold: sans-bold;
    --font-sans-extrabold: sans-extrabold;

    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-18: 72px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-30: 120px;
}


@layer components {
    .tabs-icon {
        @apply size-12 items-center justify-center;
    }

    .tabs-pill {
        @apply size-12 items-center justify-center rounded-full bg-transparent;
    }

    .tabs-active {
        @apply bg-accent
    }

    .tabs-glyph {
        @apply size-6
    }

    .home-header {
        @apply mb-2.5 flex-row items-center justify-between;
    }

    .home-user {
        @apply flex-row items-center;
    }

    .home-avatar {
        @apply size-16 rounded-full;
    }

    .home-user-name {
        @apply ml-4 text-2xl font-sans-bold text-primary;
    }

    .home-add-icon {
        @apply size-6 rounded-full border ;
    }

    .home-balance-card {
        @apply my-2.5 min-h-50 justify-between gap-5 rounded-bl-4xl rounded-tr-4xl bg-accent p-6;
    }

    .home-balance-label {
        @apply text-xl font-sans-semibold text-white/80;
    }

    .home-balance-row {
        @apply flex-row items-center justify-between;
    }

    .home-balance-amount {
        @apply text-4xl font-sans-semibold text-white;
    }

    .home-balance-date {
        @apply text-xl font-sans-medium text-white;
    }

    .list-head {
        @apply flex-row items-center justify-between my-6;
    }

    .list-title {
        @apply text-xl font-sans-semibold;
    }

    .list-action{
        @apply rounded-2xl border px-4 py-1;
    }

    .list-action-text {
        @apply text-base
    }

    .upcoming-card {
        @apply rounded-2xl border px-3 py-4.5 w-40 gap-1 mr-3;
    }

    .upcoming-row {
        @apply flex-row items-center justify-center gap-3;
    }

    .upcoming-icon {
        @apply size-12 bg-accent/20 rounded-2xl ;
    }

    .upcoming-price {
        @apply font-sans-semibold
    }

    .upcoming-meta {
        @apply font-sans-light text-xs
    }

    .upcoming-name {
        @apply font-sans-bold
    }

    .home-empty-state {
        @apply text-sm my-4
    }

    .sub-card {
        @apply py-6 px-4 border rounded-xl border-border
    }

    .sub-head {
        @apply flex-row gap-6
    }

    .sub-main {
        @apply flex-row gap-4 align-middle items-center
    }

    .sub-title {
        @apply font-sans-bold
    }

    .sub-icon {
        @apply size-10
    }

    .sub-price-box {
        @apply gap-1.5
    }

    .sub-price {
        @apply font-sans-semibold
    }

    .sub-billing {
        @apply text-sm font-sans-light
    }

}